# Perfil portable derivado de las preferencias RX3 actuales.
# No incluye dispositivos de audio, rutas de biblioteca, geometria de ventanas,
# base de datos, perfiles de emision ni ninguna ruta especifica de macOS.

[Config]
HotcueColorPalette Rekordbox COLORFUL Hotcue Colors
InhibitScreensaver 1
ResizableSkin XDJ_RX3_Mixxx
ScaleFactor 1
StartInFullscreen 0
TrackColorPalette Rekordbox Track Colors
hide_menubar 1

[Controls]
CloneDeckOnLoadDoubleTap 1
CueDefault 1
CueRecall 3
HotcueDefaultColorIndex -1
LoadWhenDeckPlaying 0
LoopDefaultColorIndex -1
PositionDisplay 1
RateDir 1
RatePermLeft 0.5
RatePermRight 0.05
RateRamp 0
RateRampSensitivity 250
RateRangePercent 8
RateTempLeft 4
RateTempRight 2
SetIntroStartAtMainCue 1
SpeedAutoReset 1
TimeFormat 0
Tooltips 0
auto_hotcue_colors 1
auto_loop_colors 1
keylockMode 0
keyunlockMode 0

[Pioneered]
timemode1 1
timemode2 1
timemode3 1
timemode4 1

[Skin]
coverArt_splitsize 195,40
librarySidebar_splitsize 265,1007
select_big_spinny_or_cover 0
show_4decks 0
show_4effectunits 0
show_8_hotcues 1
show_beatgrid_controls 0
show_beatjump_controls 1
show_beatjump_controls_compact 1
show_coverart 1
show_effectrack 0
show_eq_kill_buttons 1
show_eq_knobs 1
show_hotcues 1
show_intro_outro_cues 1
show_key_controls 1
show_key_controls_compact 1
show_library_coverart 1
show_loop_controls 1
show_loop_controls_compact 1
show_main_head_mixer 1
show_maximized_library 0
show_microphones 0
show_mixer 1
show_preview_decks 1
show_rate_control_buttons 1
show_rate_controls 1
show_rate_controls_compact 1
show_sampler_fx 0
show_samplers 0
show_spinnies 1
show_superknobs 0
show_sync_button_compact 1
show_vinylcontrol 0
show_vumeters_compact 1
show_waveforms 1
show_xfader 1
stackedWaveforms_splitSize 201,433
timing_shift_buttons 0

[Waveform]
DefaultZoom 10
EndOfTrackWarningTime 30
FrameRate 60
OverviewNormalized 0
PlayMarkerPosition 0.25
UntilMarkAlign 1
UntilMarkShowBeats 1
UntilMarkShowTime 0
UntilMarkTextHeightLimit 0
UntilMarkTextPointSize 24
VSync 0
VisualGain_0 1
VisualGain_1 1
VisualGain_2 1
VisualGain_3 1
WaveformOverviewType 2
WaveformType 25
ZoomSynchronization 1
beatGridAlpha 100

[BPM]
BPMDetectionEnabled 1
BeatDetectionFixedTempoAssumption 1
FastAnalysisEnabled 0
ReanalyzeImported 0
ReanalyzeWhenSettingsChange 0
sync_lock_algorithm 0

[Library]
RescanOnStartup 0
ShowBansheeLibrary 0
ShowITunesLibrary 0
ShowRekordboxLibrary 1
ShowRhythmboxLibrary 0
ShowSeratoLibrary 0
ShowTraktorLibrary 0
SyncTrackMetadataExport 0
UsbOnlyMode 1

[Key]
FastAnalysisEnabled 0
KeyDetectionEnabled 0
KeyNotation Traditional
ReanalyzeWhenSettingsChange 0

[Effects]
AdoptMetaknobValue 1

[QuickEffectRack1_[Channel1]]
focused_effect 0
group_[Channel1]_enable 0
mix 1
show_parameters 0

[QuickEffectRack1_[Channel2]]
focused_effect 0
group_[Channel2]_enable 0
mix 1
show_parameters 0
